.swal2-container{
  z-index: 99999999 !important;
}

.reactIconsColor{
  color: var(--reacIconsColor);
  font-size: x-large;
}
.reactIconsTwoIcons{
  color: var(--reacIconsColor);
  font-size: x-large;
}
.outPatientIcon{
  transform: rotateY(180deg) !important;
}